[package]
name = "pueue"
description = "A cli tool for managing long running shell commands."
version = "0.11.0"
authors = ["Arne Beer <contact@arne.beer>"]
homepage = "https://github.com/nukesor/pueue"
repository = "https://github.com/nukesor/pueue"
documentation = "https://docs.rs/pueue/"
license = "MIT"
keywords = ["shell", "command", "parallel", "task", "queue"]
readme = "../README.md"
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
pueue-lib = { path = "../pueue-lib", version = "^0.11"}

anyhow = "1"
chrono = { version = "^0.4", features = ["serde"] }
chrono-english = "^0.1.0"
shell-escape = "^0.1"
tempfile = "^3"

async-std = { version = "1", features = ["attributes", "std"] }
snap = "1"
serde_json = "^1.0"

log = "0.4"
simplelog = { version = "0.9", default-features = false }
clap = "3.0.0-beta.2"
clap_generate = "3.0.0-beta.2"
crossterm = "^0.19"
comfy-table= "^2"

handlebars = "3"
ctrlc = { version = "3", features = ["termination"] }

[[bin]]
name = "pueue"
path = "client/main.rs"

[[bin]]
name = "pueued"
path = "daemon/main.rs"

[target.'cfg(not(windows))'.dependencies]
nix = "^0.19"
users = "^0.11"

[target.'cfg(any(target_os = "linux", target_os = "freebsd"))'.dependencies]
procfs = { version = "0.9", default-features = false }

[target.'cfg(target_os = "macos")'.dependencies]
psutil = "^3"

[build-dependencies]
version_check = "^0.9"
