# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# global settings for all files
[*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

