language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5"
  - "nightly"

# command to install dependencies
install: "python setup.py install"

# command to run tests
script: "python -m unittest"
