# This is the service file for the pueue daemon
# To enable the daemon type `systemctl --user enable pueued.service`
# To start the daemon type `systemctl --user start pueued.service`

[Unit]
Description=Pueue Daemon - CLI process scheduler and manager

[Service]
Restart=no
ExecStart=/usr/bin/pueued
ExecReload=/usr/bin/pueued

[Install]
WantedBy=default.target
